.mask {
  line-height: 1.05;
  letter-spacing: -0.02em;
  color: #1d1d1f;
  height: 78px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
}

.mask span {
  color: #9A1717;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 8s infinite linear;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 71px;
  padding-bottom: var(--offset);
}

.mask span[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out;
}

.mask span[data-up] {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out;
}

@media (max-width: 1280px) {
  .mask {
    height: 53px;
  }
  .mask span {
    top: 48px;
  }
}

@media (max-width: 640px) {
  .mask {
    height: 26px;
  }

  .mask span {
    top: 24px;
  }
}